@use 'sass:math';
@use "sass:list";

/* ==========================================================================
   Modular scale & vertical rhythm configuration
   Source: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
   Github: https://github.com/AleksandrHovhannisyan/fluid-type-scale-calculator
   ========================================================================== */

// Recommended starting point
$type-base-min: $global-min-font-size;
$type-base-max: $global-max-font-size;

$type-scale-min: $global-type-scale-min;
$type-scale-max: $global-type-scale-max;

// Default min and max breakpoint to clamp
$default-min-bp: map-get($global-mq-breakpoints, 'mobile');
$default-max-bp: map-get($global-mq-breakpoints, 'enormous');

$type-base: $global-font-size;
$type-steps: $global-type-steps;
$type-base-index: $global-type-base-index;

// =============================================================================
// Processing headings
// =============================================================================

:root {
    @for $i from 1 through length($type-steps) {
        $step: list.nth($type-steps, $i);
        $power: $i - $type-base-index;
        $min: $type-base-min * math.pow($type-scale-min, $power);
        $max: $type-base-max * math.pow($type-scale-max, $power);
        --font-size-#{$step}: #{slamp($min, $max)};
    }
}
