@use 'sass:math';
@use "sass:list";

/* ==========================================================================
   Modular scale & vertical rhythm configuration
   Source: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
   Github: https://github.com/AleksandrHovhannisyan/fluid-type-scale-calculator
   ========================================================================== */

// Recommended starting point
$type-base-min: $global-min-font-size;
$type-base-max: $global-max-font-size;

$type-scale-min: $global-type-scale-min;
$type-scale-max: $global-type-scale-max;

// Default min and max breakpoint to clamp
$default-min-bp: map-get($global-mq-breakpoints, 'mobile');
$default-max-bp: map-get($global-mq-breakpoints, 'enormous');

$type-base: $global-font-size;
$type-steps: $global-type-steps;
$type-base-index: $global-type-base-index;

@function rnd($number, $places: 0) {
    $n: 1;
    @if $places > 0 {
        @for $i from 1 through $places {
        $n: $n * 10;
        }
    }
    @return math.div(math.round($number * $n), $n);
}

@function clamped($min-px, $max-px, $min-bp: $default-min-bp, $max-bp: $default-max-bp) {
    $slope: math.div(($max-px - $min-px), ($max-bp - $min-bp));
    $slope-vw: rnd($slope * 100, 2);
    $intercept-rems: rnd(rem($min-px - $slope * $min-bp), 2);
    $min-rems: rnd(rem($min-px), 2);
    $max-rems: rnd(rem($max-px), 2);
    @return clamp(#{$min-rems}, #{$slope-vw}vw + #{$intercept-rems}, #{$max-rems});
}

// =============================================================================
// Processing headings
// =============================================================================

:root {
    @for $i from 1 through length($type-steps) {
        $step: list.nth($type-steps, $i);
        $power: $i - $type-base-index;
        $min: $type-base-min * math.pow($type-scale-min, $power);
        $max: $type-base-max * math.pow($type-scale-max, $power);
        --font-size-#{$step}: #{slamp($min, $max)};
    }
}
