// Text align utilities

$global-align-directions: (
  "left": left,
  "right": right,
  "center": center
) !default;

@each $direction-namespace, $direction-rules in $global-align-directions {

    .u-text-#{$direction-namespace} {

        text-align: $direction-rules !important;

    }

}

// Responsive text align utilities

@each $direction-namespace, $direction-rules in $global-align-directions {

    @each $global-bp-name, $global-bp-value in $global-mq-breakpoints {

        @include mq($from: $global-bp-name) {

            .u-text-#{$direction-namespace}#{$global-breakpoint-separator}#{$global-bp-name} {

                text-align: $direction-rules !important;

            }

        }

    }

}
