/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * Color utilities.
 *
 * Example classes:
 * u-color-primary
 * u-bg-color-primary
 */

$global-color-utilities: null !default;

$global-color-properties: (
    'color': 'color',
    'bg-color': 'background-color',
);

$global-colors-variants: (
    '-white': $white,
    '-black': $black
) !default;

@if ($global-color-utilities != null) {
    @each $selector, $property in $global-color-properties {
        @each $color, $value in $global-colors-variants {
            .u-#{$selector}#{$color} {
            #{$property}: $value !important;
            }
        }
    }
}
