@use 'sass:math';
@use "sass:list";

/* ==========================================================================
   Fluid spaces with modular scaling
   Source: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
   Github: https://github.com/AleksandrHovhannisyan/fluid-type-scale-calculator
   ========================================================================== */

// =============================================================================
// Processing spaces
// =============================================================================

:root {
    @each $key, $value in $global-space-steps {
        --space-#{$key}: #{slamp(math.round($global-min-font-size * $value), math.round($global-max-font-size * $value), $global-default-min-bp, $global-default-max-bp)};
    }

    // Space value pairs - single steps
    $counter: 1;
    $steps-keys: map-keys($global-space-steps);
    @each $key, $value in $global-space-steps {

        @if $counter < length($global-space-steps) {
            $next-index: $counter + 1;
            $next-max-value: map-get($global-space-steps, nth($steps-keys, $next-index));
            --space-#{$key}-#{nth($steps-keys, $next-index)}: #{slamp(math.round($global-min-font-size * $value), math.round($global-max-font-size * $next-max-value), $global-default-min-bp, $global-default-max-bp)};
        }

        $counter: $counter + 1;
    }

    // Space value pairs - custom steps
    @if variable-exists(global-space-pairs-custom-steps) {
        $custom-space-steps: $global-space-pairs-custom-steps;

        @each $key, $value in $custom-space-steps {
            --space-#{$key}-#{$value}: #{slamp(math.round($global-min-font-size * map-get($global-space-steps, $key)), math.round($global-max-font-size * map-get($global-space-steps, $value)), $global-default-min-bp, $global-default-max-bp)};
        }
    }
}
