@use 'sass:math';
@use "sass:list";

/* ==========================================================================
   Fluid headings with modular scaling
   Source: https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
   Github: https://github.com/AleksandrHovhannisyan/fluid-type-scale-calculator
   ========================================================================== */

// Recommended starting point
$type-base-min: $global-min-font-size;
$type-base-max: $global-max-font-size;

$type-scale-min: $global-type-scale-min;
$type-scale-max: $global-type-scale-max;

// Default min and max breakpoint to clamp
$default-min-bp: map-get($global-mq-breakpoints, 'mobile');
$default-max-bp: map-get($global-mq-breakpoints, 'enormous');

$type-base: $global-font-size;
$type-steps: $global-type-steps;
$type-base-index: $global-type-base-index;

// =============================================================================
// Processing headings
// =============================================================================

:root {
    @for $i from 1 through length($type-steps) {
        $step: list.nth($type-steps, $i);
        $power: $i - $type-base-index;
        $min: $type-base-min * math.pow($type-scale-min, $power);
        $max: $type-base-max * math.pow($type-scale-max, $power);
        --font-size-#{$step}: #{slamp($min, $max, $default-min-bp, $default-max-bp)};
    }
}

/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

/**
 * Generate headings rules with modular scale and vertical rhythm
 *
 * 1. https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
 *
 */

$steps-count: length($global-type-steps);
$headings-count: 0;

@for $i from 1 through length($global-type-steps) {

    @if $i == $global-type-base-index {
        $headings-count: length($global-type-steps) - $i;

        @for $j from 1 through $headings-count {
            $step: list.nth($global-type-steps,($steps-count - ($j - 1)));

            h#{$j} {
                font-size: var(--font-size-#{$step});
                line-height: calc(2px + 2ex + 2px); /* [1] */
                margin-bottom: .65em;
            }
        }
    }
}
