@use 'sass:math';

$global-ratios-breakpoint-separator: \@ !default;

$global-responsive-ratios: false !default;

@if ($global-responsive-ratios != false) {

    @each $ratio-name, $ratio-value in $global-responsive-ratios {

        @each $antecedent, $consequent in $ratio-value {

            @if (type-of($antecedent) != number) {
                @error "`#{$antecedent}` needs to be a number.";
            }

            @if (type-of($consequent) != number) {
                @error "`#{$consequent}` needs to be a number.";
            }

            @each $global-bp-name, $global-bp-value in $global-mq-breakpoints {

                @include mq($from: $global-bp-name) {

                    .o-ratio--#{$ratio-name}#{$global-ratios-breakpoint-separator}#{$global-bp-name}:before {
                        padding-bottom: math.div($consequent, $antecedent) * 100%;
                    }

                }

            }

        }

    }

}
