/* ==========================================================================
   #CONTAINER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

 $global-container-width: 1200px !default;
 $global-container-padding: 50px !default;
 $global-container-padding-mobile: 20px !default;

 @if (type-of($global-container-width) != number) {
   @error "`#{$global-container-width}` needs to be a number.";
 }

 .o-container {
   @include inuit-clearfix();
   padding-right: $global-container-padding-mobile;
   padding-left:  $global-container-padding-mobile;
   margin-right: auto;
   margin-left:  auto;
   width: 100%;
   max-width: $global-container-width;
   position: relative;

   @include mq($from: tablet) {
     padding-right: rem($global-container-padding);
     padding-left:  rem($global-container-padding);
   }
}

.o-container--fluid {
    max-width: 100%;
}
