$inuit-ratios-breakpoint-separator: \@ !default;

$inuit-responsive-ratios: null !default;

@if ($inuit-responsive-ratios != null) {

    @each $ratio-name, $ratio-value in $inuit-responsive-ratios {

        @each $antecedent, $consequent in $ratio-value {
        
            @if (type-of($antecedent) != number) {
                @error "`#{$antecedent}` needs to be a number.";
            }
        
            @if (type-of($consequent) != number) {
                @error "`#{$consequent}` needs to be a number.";
            }

            @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

                @include mq($from: $inuit-bp-name) {

                    .o-ratio--#{$ratio-name}#{$inuit-ratios-breakpoint-separator}#{$inuit-bp-name}:before {
                        padding-bottom: ($consequent/$antecedent) * 100%;
                    }

                }

            }
      
        }

    }

}