$iota-global-columns: 2, 3, 6;

$iota-global-gutter-default: $baseline;

$iota-global-flex: true;

$iota-global-rtl: false;

$iota-global-breakpoints : (
    sm  : 'screen and (min-width: 576px)',
    md  : 'screen and (min-width: 768px)',
    lg  : 'screen and (min-width: 992px)',
    xl  : 'screen and (min-width: 1200px)',
    xxl : 'screen and (min-width: 1400px)'
);

@import '../modules/iotacss-settings-core/settings.core';
