@font-face {
    src: url('../assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
      url('../assets/fonts/PlayfairDisplay-Medium.woff') format('woff');
    font-family: 'PlayfairDisplay Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}