// ==========================================================================
// Settings / Config / Colors
// =============================================================================

// Dominant color (primary color, brand color)
// =============================================================================
$color-primary: #023047;

// Set of colors for more creative options (secondary color, tertiary color, ...)
// =============================================================================
$color-secondary: #219ebc;
$color-tertiary : #8ecae6;

// Accent color (emphasize actions and highlights infos)
// =============================================================================
$color-accent: #fb8500;

// Semantic colors (warning, error, success, info)
// =============================================================================
$color-semantic-warning: orange;
$color-semantic-error  : red;
$color-semantic-success: green;
$color-semantic-info   : blue;

// Neutral colors (for text and background)
// =============================================================================
$color-lightest: #FFFFFF;
$color-darkest: #000000;

// Link
$color-link      : $color-primary;
$color-link-focus: $color-primary;
$color-link-hover: darken($color-primary, 10%);

// Selection
$selection-text-color      : #FFFFFF;
$selection-background-color: $color-secondary;

// Social Colors
// =============================================================================
$color-facebook : #3B5998;
$color-instagram: #E1306C;
$color-youtube  : #CD201F;
$color-twitter  : #1DA1F2;
