// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================

$color-lightest: #FFFFFF;
$color-darkest : #000000;

// Specific
// =============================================================================

// Link
$color-link      : #1A0DAB;
$color-link-focus: #1A0DAB;
$color-link-hover: darken(#1A0DAB, 10%);

// Selection
$selection-text-color      : #FFFFFF;
$selection-background-color: #3297FD;

// Social Colors
// =============================================================================

$facebook-color : #3B5998;
$instagram-color: #E1306C;
$youtube-color  : #CD201F;
$twitter-color  : #1DA1F2;
