///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


// =============================================================================
// Standardise some UI treatments.
// =============================================================================
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// =============================================================================
// Path is relative to the stylesheets directory.
// =============================================================================
$assets-path: "../"  !default;

// =============================================================================
// Spacing Units
// =============================================================================
$unit:       60px;
$unit-small: 30px;

// =============================================================================
// Container
// =============================================================================
$inuit-container-width: 2000px;
$padding: $unit;

// =============================================================================
// Widths fractions
// =============================================================================
$inuit-fractions: 1 2 3 4 5;

// =============================================================================
// Breakpoints for media queries
// =============================================================================
$mq-breakpoints: (
    mobile:  576px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px,
    huge:    1400px,
    enormous: 2500px
);

// =============================================================================
// Typefaces
// =============================================================================
$font-sans-serif: sans-serif;

// =============================================================================
// Typography
// =============================================================================
$font-size:     16px;
$max-font-size: 24px;
$line-height:   $max-font-size / $font-size;
$font-family:   $font-sans-serif;
$color:       #222222;

// =============================================================================
// Colors utilities
// =============================================================================
$inuit-color-utilities: true;

$inuit-colors-variants: (
    '-white': $white,
    '-black': $black
);

// =============================================================================
// Fluid typography
// Global settings for fluid typography mixin
// =============================================================================
$min-bp: map-get($mq-breakpoints, 'mobile');
$max-bp: map-get($mq-breakpoints, 'enormous');

$headings-font-sizes: (
  'h1': (
    'min': 46px,
    'max': 66px
  ),
  'h2': (
    'min': 38px,
    'max': 48px
  ),
  'h3': (
    'min': 28px,
    'max': 32px
  ),
  'h4': (
    'min': 22px,
    'max': 28px
  ),
  'h5': (
    'min': 18px,
    'max': 26px
  ),
  'h6': (
    'min': 16px,
    'max': 24px
  )
);

// =============================================================================
// Weights
// =============================================================================
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;

// =============================================================================
// Transitions
// =============================================================================
$speed:  0.3s;
$easing: $power2EaseOut;

// =============================================================================
// Ratios
// =============================================================================
$inuit-ratios: (
  "2\\:1"   : (2:1),
  "4\\:3"   : (4:3),
  "16\\:9"  : (16:9)
);

$inuit-responsive-ratios: null;
