///* ========================================================================
//   CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$global-config: (
  env: $env,
  healthcheck: false,
  baseline-grid: true,
  layout-grid: false,
  debug: false,
);

// You can access data in this map using the following function:
//
// global-config(<key>)
//
// Example usage:
//
// @if(global-config(debug) == true) { ...  }

@function global-config($key) {
  @return map-get($global-config, $key);
}
