<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>My Awesome Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {% if(svgFavicon) %}
    <link rel="icon" type="image/svg+xml" href="<$ svgFavicon $>">
    {% endif %}

</head>

<body>
    <div id="app">
        {% include 'src/views/partials/_nav.njk' %}

        {% block content %}{% endblock %}
    </div>

    {# Performance Stats?
        {% if(env == 'development') %}
            {% include 'src/views/utils/_stats.njk' %}
        {% endif %}
    #}
</body>

</html>
