$iota-base-initialize-heading-size         : true;
$iota-base-initialize-form-elements        : false;
$iota-base-initialize-html5-form-elements  : false;

@import '../modules/iotacss-base-initialize/base.initialize';
